In [2]:
!pip install google-cloud-aiplatform --upgrade --user --quiet
!pip install langchain==0.0.229 chromadb==0.3.26 pydantic==1.10.8 typing-inspect==0.8.0 typing_extensions==4.5.0 pandas datasets google-api-python-client pypdf faiss-cpu transformers config --upgrade --user --quiet

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 7.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 123.6/123.6 kB 11.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 16.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 35.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 507.1/507.1 kB 42.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 60.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 278.2/278.2 kB 23.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.6/17.6 MB 67.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.2/8.2 MB 90.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.0/90.0 kB 9.2 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 964.5/964.5 kB 42.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.0/92.0 kB 10.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.3/60.3 kB 6.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.4/5.4 MB 89.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.4/6.4 MB 89.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 34.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.3/115.3 kB 11.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.8/134.8 kB 17.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.4/5.4 MB 43.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 67.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.4/49.4 kB 6.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 70.0/70.0 kB 8.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.1/92.1 kB 9.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.9/68.9 kB 8.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.1/92.1 kB 11.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 67.0/67.0 kB 6.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.1/93.1 kB 11.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.9/92.9 kB 10.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.9/92.9 kB 10.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.3/66.3 kB 8.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.0/46.0 kB 4.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 6.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.4/341.4 kB 29.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.4/3.4 MB 86.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 71.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 130.2/130.2 kB 14.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.8/86.8 kB 11.8 MB/s eta 0:00:00
  Building wheel for hnswlib (pyproject.toml) ... done
  WARNING: The script dotenv is installed in '/root/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script humanfriendly is installed in '/root/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script watchfiles is installed in '/root/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script uvicorn is installed in '/root/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script langchain is installed in '/root/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script coloredlogs is installed in '/root/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script onnxruntime_test is installed in '/root/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script transformers-cli is installed in '/root/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script langchain-server is installed in '/root/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script datasets-cli is installed in '/root/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
lida 0.0.10 requires kaleido, which is not installed.
lida 0.0.10 requires python-multipart, which is not installed.
llmx 0.0.15a0 requires cohere, which is not installed.
llmx 0.0.15a0 requires openai, which is not installed.
llmx 0.0.15a0 requires tiktoken, which is not installed.
bigframes 0.17.0 requires pandas<2.1.4,>=1.5.0, but you have pandas 2.1.4 which is incompatible.
google-colab 1.0.0 requires pandas==1.5.3, but you have pandas 2.1.4 which is incompatible.

In [3]:
# Below libraries are required to build a SQL engine for BigQuery
!pip install --user SQLAlchemy==1.4.48 --quiet
!pip install --user sqlalchemy-bigquery --quiet

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 7.7 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
bigframes 0.17.0 requires pandas<2.1.4,>=1.5.0, but you have pandas 2.1.4 which is incompatible.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.48 which is incompatible.

In [4]:
# Install pandas
! pip install --user --quiet pandas

# Install HuggingFace Datasets
! pip install --user --quiet datasets

# Install Python client for Google Search API
! pip install --user --quiet google-api-python-client

# PDF loader
! pip install --user --quiet pypdf

# Install similarity search library
# TO-DO: Replace with vertex AI Matching Engine
! pip install --user --quiet faiss-cpu

In [5]:
from google.colab import auth as google_auth
google_auth.authenticate_user()

In [1]:
PROJECT_ID = "iron-decorator-297513" # @param {type:"string"}
LOCATION = "us-central1"  # @param {type:"string"}
from google.cloud import aiplatform
from langchain.llms import VertexAI
import vertexai
aiplatform.init(project=PROJECT_ID, location=LOCATION)
vertexai.init(project=PROJECT_ID, location=LOCATION)

In [4]:
REQUESTS_PER_MINUTE = 100

llm = VertexAI(
    model_name='text-bison@001',
    max_output_tokens=1024,
    temperature=0.1,
    top_p=0.8,
    top_k=40,
    verbose=True,
)
#chat = VertexChat()

#mchat = VertexMultiTurnChat(max_output_tokens=1024)

#embedding = VertexEmbeddings(requests_per_minute=REQUESTS_PER_MINUTE)

In [10]:
#iron-decorator-297513.tg_Dataste.LLMsales
project_id = "iron-decorator-297513" # @param {type:"string"}
LOCATION = "us-central1"  # @param {type:"string"}
dataset_id = 'tg_Dataste' # @param {type:"string"}
table_name = 'LLMsales' # @param {type:"string"}
from sqlalchemy import *
from sqlalchemy.engine import create_engine
from sqlalchemy.schema import *
import pandas as pd

In [11]:
table_uri = f"bigquery://{project_id}/{dataset_id}"
engine = create_engine(f"bigquery://{project_id}/{dataset_id}")

In [12]:
query=f"""SELECT * FROM `{project_id}.{dataset_id}.{table_name}`"""
engine.execute(query).first()

<ipython-input-12-c2f5a6a300c8>:2: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  engine.execute(query).first()

('INV-02363800013', datetime.date(2016, 12, 23), '3654', 'THE BEVERAGE SHOP / BELMOND', '207 E MAIN ST', 'BELMOND', '50421', '99', 'WRIGHT', '1062500.0', 'FLAVORED RUM', '370.0', 'PERNOD RICARD USA', '42717', 'MALIBU COCONUT RUM', 12, 1000, 10.49, 15.74, 4, 62.96, 4.0, 1.06)

In [13]:
from langchain import SQLDatabase, SQLDatabaseChain
from langchain.prompts.prompt import PromptTemplate

In [ ]:
## reference do not execute this
def bq_qna(question):
  #create SQLDatabase instance from BQ engine
  db = SQLDatabase(engine=engine,metadata=MetaData(bind=engine),include_tables=[table_name])
  # db = SQLDatabase(engine=engine,metadata=MetaData(bind=engine),include_tables=['bigquery-public-data.iowa_liquor_sales.sales'])

  #create SQL DB Chain with the initialized LLM and above SQLDB instance
  db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, return_intermediate_steps=True)



# Set up langchain
db = SQLDatabase.from_uri(sqlalchemy_url)
llm = OpenAI(temperature=0, model="text-davinci-003")
toolkit = SQLDatabaseToolkit(db=db, llm=llm)
agent_executor = create_sql_agent(
llm=llm,
toolkit=toolkit,
verbose=True,
top_k=1000,
)

In [14]:
def bq_qna(question):
  #create SQLDatabase instance from BQ engine
  db = SQLDatabase(engine=engine,metadata=MetaData(bind=engine),include_tables=[table_name])
  # db = SQLDatabase(engine=engine,metadata=MetaData(bind=engine),include_tables=['bigquery-public-data.iowa_liquor_sales.sales'])

  #create SQL DB Chain with the initialized LLM and above SQLDB instance
  db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, return_intermediate_steps=True)


  _googlesql_prompt = """You are a BigQuery SQL expert. Given an input question, first create a syntactically correct BigQuery query to run, then look at the results of the query and return the answer to the input question.
  Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per BigQuery SQL. You can order the results to return the most informative data in the database.
  Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
  Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
  Use the following format:
  Question: "Question here"
  SQLQuery: "SQL Query to run"
  SQLResult: "Result of the SQLQuery"
  Answer: "Final answer here"
  Only use the following tables:
  {table_info}

  If someone asks for specific month, use ActivityDate between current month's start date and current month's end date

  Question: {input}"""

  BigQuerySQL_PROMPT = PromptTemplate(
      input_variables=["input", "table_info", "top_k"],
      template=_googlesql_prompt,
  )

  #passing question to the prompt template
  final_prompt = BigQuerySQL_PROMPT.format(input=question, table_info=table_name, top_k=10000)

  #pass final prompt to SQL Chain
  output = db_chain(final_prompt)


  return output['result'], output['intermediate_steps'][0]

In [15]:
bq_qna('Count total number of invoices')

> Entering new  chain...
You are a BigQuery SQL expert. Given an input question, first create a syntactically correct BigQuery query to run, then look at the results of the query and return the answer to the input question.
  Unless the user specifies in the question a specific number of examples to obtain, query for at most 10000 results using the LIMIT clause as per BigQuery SQL. You can order the results to return the most informative data in the database.
  Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
  Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
  Use the following format:
  Question: "Question here"
  SQLQuery: "SQL Query to run"
  SQLResult: "Result of the SQLQuery"
  Answer: "Final answer here"
  Only use the following tables:
  LLMsales

  If someone asks for specific month, use ActivityDate between current month's start date and current month's end date

  Question: Count total number of invoices
SQLQuery:SELECT count(*) FROM `LLMsales`
SQLResult: [(27934721,)]
Answer:27934721
> Finished chain.

('27934721',
 {'input': 'You are a BigQuery SQL expert. Given an input question, first create a syntactically correct BigQuery query to run, then look at the results of the query and return the answer to the input question.\n  Unless the user specifies in the question a specific number of examples to obtain, query for at most 10000 results using the LIMIT clause as per BigQuery SQL. You can order the results to return the most informative data in the database.\n  Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.\n  Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\n  Use the following format:\n  Question: "Question here"\n  SQLQuery: "SQL Query to run"\n  SQLResult: "Result of the SQLQuery"\n  Answer: "Final answer here"\n  Only use the following tables:\n  LLMsales\n\n  If someone asks for specific month, use ActivityDate between current month\'s start date and current month\'s end date\n\n  Question: Count total number of invoices\nSQLQuery:SELECT count(*) FROM `LLMsales`\nSQLResult: [(27934721,)]\nAnswer:',
  'top_k': '5',
  'dialect': 'bigquery',
  'table_info': "\nCREATE TABLE `LLMsales` (\n\t`invoice_and_item_number` STRING, \n\t`date` DATE, \n\t`store_number` STRING, \n\t`store_name` STRING, \n\t`address` STRING, \n\t`city` STRING, \n\t`zip_code` STRING, \n\t`county_number` STRING, \n\t`county` STRING, \n\t`category` STRING, \n\t`category_name` STRING, \n\t`vendor_number` STRING, \n\t`vendor_name` STRING, \n\t`item_number` STRING, \n\t`item_description` STRING, \n\t`pack` INT64, \n\t`bottle_volume_ml` INT64, \n\t`state_bottle_cost` FLOAT64, \n\t`state_bottle_retail` FLOAT64, \n\t`bottles_sold` INT64, \n\t`sale_dollars` FLOAT64, \n\t`volume_sold_liters` FLOAT64, \n\t`volume_sold_gallons` FLOAT64\n)\n\n/*\n3 rows from LLMsales table:\ninvoice_and_item_number\tdate\tstore_number\tstore_name\taddress\tcity\tzip_code\tcounty_number\tcounty\tcategory\tcategory_name\tvendor_number\tvendor_name\titem_number\titem_description\tpack\tbottle_volume_ml\tstate_bottle_cost\tstate_bottle_retail\tbottles_sold\tsale_dollars\tvolume_sold_liters\tvolume_sold_gallons\nINV-39002000009\t2021-08-06\t5723\tCASEY'S GENERAL STORE #2538-WAUKEE\t20 WEST HICKMAN ROAD\tWAUKEE\t50263.0\t25\tDALLAS\t1082100.0\tIMPORTED CORDIALS & LIQUEURS\t192\tMAST-JAGERMEISTER US, INC\t65259\tJAGERMEISTER LIQUEUR MINI MEISTERS\t12\t20\t4.93\t7.4\t1\t7.4\t0.02\t0.0\nINV-24519900032\t2020-01-13\t5726\tEHLINGER'S VINTON EXPRESS\t310 K AVENUE SOUTH\tVINTON\t52349.0\t6\tBENTON\t1082000.0\tIMPORTED CORDIALS & LIQUEURS\t192\tMAST-JAGERMEISTER US, INC\t65259\tJAGERMEISTER LIQUEUR MINI MEISTERS\t12\t20\t4.93\t7.4\t1\t7.4\t0.02\t0.0\nINV-13922700032\t2018-08-20\t3778\tFAMILY PANTRY\t4538 LOWER BEAVER RD\tDES MOINES\t50310\t77\tPOLK\t1082000.0\tIMPORTED CORDIALS & LIQUEURS\t192.0\tMAST-JAGERMEISTER US, INC\t65259\tJAGERMEISTER MINI MEISTERS\t12\t20\t4.93\t7.4\t1\t7.4\t0.02\t0.0\n*/",
  'stop': ['\nSQLResult:']})

In [16]:
bq_qna('give me the first 10 records of the table')

> Entering new  chain...
You are a BigQuery SQL expert. Given an input question, first create a syntactically correct BigQuery query to run, then look at the results of the query and return the answer to the input question.
  Unless the user specifies in the question a specific number of examples to obtain, query for at most 10000 results using the LIMIT clause as per BigQuery SQL. You can order the results to return the most informative data in the database.
  Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
  Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
  Use the following format:
  Question: "Question here"
  SQLQuery: "SQL Query to run"
  SQLResult: "Result of the SQLQuery"
  Answer: "Final answer here"
  Only use the following tables:
  LLMsales

  If someone asks for specific month, use ActivityDate between current month's start date and current month's end date

  Question: give me the first 10 records of the table
SQLQuery:SELECT * FROM LLMsales LIMIT 10
SQLResult: [('INV-39002000009', datetime.date(2021, 8, 6), '5723', "CASEY'S GENERAL STORE #2538-WAUKEE", '20 WEST HICKMAN ROAD', 'WAUKEE', '50263.0', '25', 'DALLAS', '1082100.0', 'IMPORTED CORDIALS & LIQUEURS', '192', 'MAST-JAGERMEISTER US, INC', '65259', 'JAGERMEISTER LIQUEUR MINI MEISTERS', 12, 20, 4.93, 7.4, 1, 7.4, 0.02, 0.0), ('INV-24519900032', datetime.date(2020, 1, 13), '5726', "EHLINGER'S VINTON EXPRESS", '310 K AVENUE SOUTH', 'VINTON', '52349.0', '6', 'BENTON', '1082000.0', 'IMPORTED CORDIALS & LIQUEURS', '192', 'MAST-JAGERMEISTER US, INC', '65259', 'JAGERMEISTER LIQUEUR MINI MEISTERS', 12, 20, 4.93, 7.4, 1, 7.4, 0.02, 0.0), ('INV-13922700032', datetime.date(2018, 8, 20), '3778', 'FAMILY PANTRY', '4538 LOWER BEAVER RD', 'DES MOINES', '50310', '77', 'POLK', '1082000.0', 'IMPORTED CORDIALS & LIQUEURS', '192.0', 'MAST-JAGERMEISTER US, INC', '65259', 'JAGERMEISTER MINI MEISTERS', 12, 20, 4.93, 7.4, 1, 7.4, 0.02, 0.0), ('S13152000002', datetime.date(2013, 7, 3), '3722', 'WAL-MART 1361 / SIOUX CITY', '3400 SINGING HILLS BLVD', 'SIOUX CITY', '51106', '97', 'WOODBURY', '1031200.0', 'VODKA FLAVORED', '380', 'PHILLIPS BEVERAGE COMPANY', '42002', 'UV CAKE VODKA', 6, 500, 4.89, 7.34, 17, 124.78, 8.5, 2.25), ('INV-41064900018', datetime.date(2021, 10, 18), '4653', "CASEY'S GENERAL STORE #1617 / JEFFERSON", '508 N ELM', 'JEFFERSON', '50129.0', '37', 'GREENE', '1701100.0', 'TEMPORARY & SPECIALTY PACKAGES', '260.0', 'DIAGEO AMERICAS', '1400', 'CROWN ROYAL W/2 GLASSES', 6, 750, 16.59, 24.89, 24, 597.36, 18.0, 4.75), ('INV-63810800009', datetime.date(2023, 10, 31), '4196', 'FAREWAY STORES #987 / DAVENPORT', '1635 WEST 53RD ST', 'DAVENPORT', '52806.0', None, 'SCOTT', '1701100.0', 'TEMPORARY & SPECIALTY PACKAGES', '65', 'JIM BEAM BRANDS', '4044', 'HORNITOS REPOSADO W/GLASSES', 6, 750, 16.0, 24.0, 24, 576.0, 18.0, 4.75), ('INV-37286700008', datetime.date(2021, 6, 8), '3814', 'COSTCO WHOLESALE #788 / WDM', '7205 MILLS CIVIC PKWY', 'WEST DES MOINES', '50266.0', '25', 'DALLAS', '1012300.0', 'SINGLE MALT SCOTCH', '240', 'WILLIAM GRANT & SONS INC', '4356', 'BALVENIE 12YR DOUBLEWOOD', 12, 750, 35.0, 52.5, 24, 1260.0, 18.0, 4.75), ('INV-36554800030', datetime.date(2021, 5, 12), '5144', "SAM'S CLUB 6979 / ANKENY", '4625 SE DELAWARE AVE', 'ANKENY', '50021.0', '77', 'POLK', '1012200.0', 'SCOTCH WHISKIES', '260.0', 'DIAGEO AMERICAS', '4626', 'BUCHANAN DELUXE 12YR', 12, 750, 20.99, 31.49, 24, 755.76, 18.0, 4.75), ('INV-25089100019', datetime.date(2020, 2, 7), '3944', "SAM'S CLUB 4973 / DUBUQUE", '4400 ASBURY RD', 'DUBUQUE', '52002.0', '31', 'DUBUQUE', '1012200.0', 'SCOTCH WHISKIES', '260', 'DIAGEO AMERICAS', '4626', 'BUCHANAN DELUXE 12YR', 12, 750, 20.99, 31.49, 24, 755.76, 18.0, 4.75), ('INV-48348100013', datetime.date(2022, 6, 15), '3524', "SAM'S CLUB 6568 / AMES", '305 AIRPORT RD', 'AMES', '50010.0', '85', 'STORY', '1012300.0', 'SINGLE MALT SCOTCH', '240', 'WILLIAM GRANT & SONS INC', '5006', 'GLENFIDDICH 12YR SPECIAL RESERVE', 12, 750, 27.0, 40.5, 24, 972.0, 18.0, 4.75)]
Answer:The first 10 records of the table are:

invoice_and_item_number	date	store_number	store_name	address	city	zip_code	county_number	county	category	category_name	vendor_number	vendor_name	item_number	item_description	pack	bottle_volume_ml	state_bottle_cost	state_bottle_retail	bottles_sold	sale_dollars	volume_sold_liters	volume_sold_gallons
INV-39002000009	2021-08-06	5723	CASEY'S GENERAL STORE #2538-WAUKEE	20 WEST HICKMAN ROAD	WAUKEE	50263.0	25	DALLAS	1082100.0	IMPORTED CORDIALS & LIQUEURS	192	MAST-JAGERMEISTER US, INC	65259	JAGERMEISTER LIQUEUR MINI MEISTERS	12	20	4.93	7.4	1	7.4	0.02	0.0
INV-24519900032	2020-01-13	5726	EHLINGER'S VINTON EXPRESS	310 K AVENUE SOUTH	VINTON	52349.0	6	BENTON	1082000.0	IMPORTED CORDIALS & LIQUEURS	192	MAST-JAGERMEISTER US, INC	65259	JAGERMEISTER LIQUEUR MINI MEISTERS	12	20	4.93	7.4	1	7.4	0.02	0.0
INV-13922700032	2018-08-20	3778	FAMILY PANTRY	4538 LOWER BEAVER RD	DES MOINES	50310	77	POLK	1082000.0	IMPORTED CORDIALS & LIQUEURS	192.0	MAST-JAGERMEISTER US, INC	65259	JAGERMEISTER MINI MEISTERS	12	20	4.93	7.4	1	7.4	0.02	0.0
S13152000002	2013-07-03	3722	WAL-MART 1361 / SIOUX CITY	3400 SINGING HILLS BLVD	SIOUX CITY	51106	97	WOODBURY	1031200.0	VODKA FLAVORED	380	PHILLIPS BEVERAGE COMPANY	42002	UV CAKE VODKA	6	500	4.89	7.34	17	124.78	8.5	2.25
INV-41064900018	2021-10-18	4653	"CASEY'S GENERAL STORE #1617 / JEFFERSON"	508 N ELM	JEFFERSON	50129.0	37	GREENE	1701100.0	TEMPORARY & SPECIALTY PACKAGES	260.0	DIAGEO AMERICAS	1400	CROWN ROYAL W/2 GLASSES	6	750	16.59	24.89	24	597.36	18.0	4.75
INV-63810800009	2023-10-31	4196	FAREWAY STORES #987 / DAVENPORT	1635 WEST 53RD ST	DAVENPORT	52806.0	None	SCOTT	1701100.0	TEMPORARY & SPECIALTY PACKAGES	65	JIM BEAM BRANDS	4044	HORNITOS REPOSADO W/GLASSES	6	750	16.0	24.0	24	576.0	18.0	4.75
INV-37286700008	20
> Finished chain.

('The first 10 records of the table are:\n\ninvoice_and_item_number\tdate\tstore_number\tstore_name\taddress\tcity\tzip_code\tcounty_number\tcounty\tcategory\tcategory_name\tvendor_number\tvendor_name\titem_number\titem_description\tpack\tbottle_volume_ml\tstate_bottle_cost\tstate_bottle_retail\tbottles_sold\tsale_dollars\tvolume_sold_liters\tvolume_sold_gallons\nINV-39002000009\t2021-08-06\t5723\tCASEY\'S GENERAL STORE #2538-WAUKEE\t20 WEST HICKMAN ROAD\tWAUKEE\t50263.0\t25\tDALLAS\t1082100.0\tIMPORTED CORDIALS & LIQUEURS\t192\tMAST-JAGERMEISTER US, INC\t65259\tJAGERMEISTER LIQUEUR MINI MEISTERS\t12\t20\t4.93\t7.4\t1\t7.4\t0.02\t0.0\nINV-24519900032\t2020-01-13\t5726\tEHLINGER\'S VINTON EXPRESS\t310 K AVENUE SOUTH\tVINTON\t52349.0\t6\tBENTON\t1082000.0\tIMPORTED CORDIALS & LIQUEURS\t192\tMAST-JAGERMEISTER US, INC\t65259\tJAGERMEISTER LIQUEUR MINI MEISTERS\t12\t20\t4.93\t7.4\t1\t7.4\t0.02\t0.0\nINV-13922700032\t2018-08-20\t3778\tFAMILY PANTRY\t4538 LOWER BEAVER RD\tDES MOINES\t50310\t77\tPOLK\t1082000.0\tIMPORTED CORDIALS & LIQUEURS\t192.0\tMAST-JAGERMEISTER US, INC\t65259\tJAGERMEISTER MINI MEISTERS\t12\t20\t4.93\t7.4\t1\t7.4\t0.02\t0.0\nS13152000002\t2013-07-03\t3722\tWAL-MART 1361 / SIOUX CITY\t3400 SINGING HILLS BLVD\tSIOUX CITY\t51106\t97\tWOODBURY\t1031200.0\tVODKA FLAVORED\t380\tPHILLIPS BEVERAGE COMPANY\t42002\tUV CAKE VODKA\t6\t500\t4.89\t7.34\t17\t124.78\t8.5\t2.25\nINV-41064900018\t2021-10-18\t4653\t"CASEY\'S GENERAL STORE #1617 / JEFFERSON"\t508 N ELM\tJEFFERSON\t50129.0\t37\tGREENE\t1701100.0\tTEMPORARY & SPECIALTY PACKAGES\t260.0\tDIAGEO AMERICAS\t1400\tCROWN ROYAL W/2 GLASSES\t6\t750\t16.59\t24.89\t24\t597.36\t18.0\t4.75\nINV-63810800009\t2023-10-31\t4196\tFAREWAY STORES #987 / DAVENPORT\t1635 WEST 53RD ST\tDAVENPORT\t52806.0\tNone\tSCOTT\t1701100.0\tTEMPORARY & SPECIALTY PACKAGES\t65\tJIM BEAM BRANDS\t4044\tHORNITOS REPOSADO W/GLASSES\t6\t750\t16.0\t24.0\t24\t576.0\t18.0\t4.75\nINV-37286700008\t20',
 {'input': 'You are a BigQuery SQL expert. Given an input question, first create a syntactically correct BigQuery query to run, then look at the results of the query and return the answer to the input question.\n  Unless the user specifies in the question a specific number of examples to obtain, query for at most 10000 results using the LIMIT clause as per BigQuery SQL. You can order the results to return the most informative data in the database.\n  Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.\n  Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\n  Use the following format:\n  Question: "Question here"\n  SQLQuery: "SQL Query to run"\n  SQLResult: "Result of the SQLQuery"\n  Answer: "Final answer here"\n  Only use the following tables:\n  LLMsales\n\n  If someone asks for specific month, use ActivityDate between current month\'s start date and current month\'s end date\n\n  Question: give me the first 10 records of the table\nSQLQuery:SELECT * FROM LLMsales LIMIT 10\nSQLResult: [(\'INV-39002000009\', datetime.date(2021, 8, 6), \'5723\', "CASEY\'S GENERAL STORE #2538-WAUKEE", \'20 WEST HICKMAN ROAD\', \'WAUKEE\', \'50263.0\', \'25\', \'DALLAS\', \'1082100.0\', \'IMPORTED CORDIALS & LIQUEURS\', \'192\', \'MAST-JAGERMEISTER US, INC\', \'65259\', \'JAGERMEISTER LIQUEUR MINI MEISTERS\', 12, 20, 4.93, 7.4, 1, 7.4, 0.02, 0.0), (\'INV-24519900032\', datetime.date(2020, 1, 13), \'5726\', "EHLINGER\'S VINTON EXPRESS", \'310 K AVENUE SOUTH\', \'VINTON\', \'52349.0\', \'6\', \'BENTON\', \'1082000.0\', \'IMPORTED CORDIALS & LIQUEURS\', \'192\', \'MAST-JAGERMEISTER US, INC\', \'65259\', \'JAGERMEISTER LIQUEUR MINI MEISTERS\', 12, 20, 4.93, 7.4, 1, 7.4, 0.02, 0.0), (\'INV-13922700032\', datetime.date(2018, 8, 20), \'3778\', \'FAMILY PANTRY\', \'4538 LOWER BEAVER RD\', \'DES MOINES\', \'50310\', \'77\', \'POLK\', \'1082000.0\', \'IMPORTED CORDIALS & LIQUEURS\', \'192.0\', \'MAST-JAGERMEISTER US, INC\', \'65259\', \'JAGERMEISTER MINI MEISTERS\', 12, 20, 4.93, 7.4, 1, 7.4, 0.02, 0.0), (\'S13152000002\', datetime.date(2013, 7, 3), \'3722\', \'WAL-MART 1361 / SIOUX CITY\', \'3400 SINGING HILLS BLVD\', \'SIOUX CITY\', \'51106\', \'97\', \'WOODBURY\', \'1031200.0\', \'VODKA FLAVORED\', \'380\', \'PHILLIPS BEVERAGE COMPANY\', \'42002\', \'UV CAKE VODKA\', 6, 500, 4.89, 7.34, 17, 124.78, 8.5, 2.25), (\'INV-41064900018\', datetime.date(2021, 10, 18), \'4653\', "CASEY\'S GENERAL STORE #1617 / JEFFERSON", \'508 N ELM\', \'JEFFERSON\', \'50129.0\', \'37\', \'GREENE\', \'1701100.0\', \'TEMPORARY & SPECIALTY PACKAGES\', \'260.0\', \'DIAGEO AMERICAS\', \'1400\', \'CROWN ROYAL W/2 GLASSES\', 6, 750, 16.59, 24.89, 24, 597.36, 18.0, 4.75), (\'INV-63810800009\', datetime.date(2023, 10, 31), \'4196\', \'FAREWAY STORES #987 / DAVENPORT\', \'1635 WEST 53RD ST\', \'DAVENPORT\', \'52806.0\', None, \'SCOTT\', \'1701100.0\', \'TEMPORARY & SPECIALTY PACKAGES\', \'65\', \'JIM BEAM BRANDS\', \'4044\', \'HORNITOS REPOSADO W/GLASSES\', 6, 750, 16.0, 24.0, 24, 576.0, 18.0, 4.75), (\'INV-37286700008\', datetime.date(2021, 6, 8), \'3814\', \'COSTCO WHOLESALE #788 / WDM\', \'7205 MILLS CIVIC PKWY\', \'WEST DES MOINES\', \'50266.0\', \'25\', \'DALLAS\', \'1012300.0\', \'SINGLE MALT SCOTCH\', \'240\', \'WILLIAM GRANT & SONS INC\', \'4356\', \'BALVENIE 12YR DOUBLEWOOD\', 12, 750, 35.0, 52.5, 24, 1260.0, 18.0, 4.75), (\'INV-36554800030\', datetime.date(2021, 5, 12), \'5144\', "SAM\'S CLUB 6979 / ANKENY", \'4625 SE DELAWARE AVE\', \'ANKENY\', \'50021.0\', \'77\', \'POLK\', \'1012200.0\', \'SCOTCH WHISKIES\', \'260.0\', \'DIAGEO AMERICAS\', \'4626\', \'BUCHANAN DELUXE 12YR\', 12, 750, 20.99, 31.49, 24, 755.76, 18.0, 4.75), (\'INV-25089100019\', datetime.date(2020, 2, 7), \'3944\', "SAM\'S CLUB 4973 / DUBUQUE", \'4400 ASBURY RD\', \'DUBUQUE\', \'52002.0\', \'31\', \'DUBUQUE\', \'1012200.0\', \'SCOTCH WHISKIES\', \'260\', \'DIAGEO AMERICAS\', \'4626\', \'BUCHANAN DELUXE 12YR\', 12, 750, 20.99, 31.49, 24, 755.76, 18.0, 4.75), (\'INV-48348100013\', datetime.date(2022, 6, 15), \'3524\', "SAM\'S CLUB 6568 / AMES", \'305 AIRPORT RD\', \'AMES\', \'50010.0\', \'85\', \'STORY\', \'1012300.0\', \'SINGLE MALT SCOTCH\', \'240\', \'WILLIAM GRANT & SONS INC\', \'5006\', \'GLENFIDDICH 12YR SPECIAL RESERVE\', 12, 750, 27.0, 40.5, 24, 972.0, 18.0, 4.75)]\nAnswer:',
  'top_k': '5',
  'dialect': 'bigquery',
  'table_info': "\nCREATE TABLE `LLMsales` (\n\t`invoice_and_item_number` STRING, \n\t`date` DATE, \n\t`store_number` STRING, \n\t`store_name` STRING, \n\t`address` STRING, \n\t`city` STRING, \n\t`zip_code` STRING, \n\t`county_number` STRING, \n\t`county` STRING, \n\t`category` STRING, \n\t`category_name` STRING, \n\t`vendor_number` STRING, \n\t`vendor_name` STRING, \n\t`item_number` STRING, \n\t`item_description` STRING, \n\t`pack` INT64, \n\t`bottle_volume_ml` INT64, \n\t`state_bottle_cost` FLOAT64, \n\t`state_bottle_retail` FLOAT64, \n\t`bottles_sold` INT64, \n\t`sale_dollars` FLOAT64, \n\t`volume_sold_liters` FLOAT64, \n\t`volume_sold_gallons` FLOAT64\n)\n\n/*\n3 rows from LLMsales table:\ninvoice_and_item_number\tdate\tstore_number\tstore_name\taddress\tcity\tzip_code\tcounty_number\tcounty\tcategory\tcategory_name\tvendor_number\tvendor_name\titem_number\titem_description\tpack\tbottle_volume_ml\tstate_bottle_cost\tstate_bottle_retail\tbottles_sold\tsale_dollars\tvolume_sold_liters\tvolume_sold_gallons\nINV-39002000009\t2021-08-06\t5723\tCASEY'S GENERAL STORE #2538-WAUKEE\t20 WEST HICKMAN ROAD\tWAUKEE\t50263.0\t25\tDALLAS\t1082100.0\tIMPORTED CORDIALS & LIQUEURS\t192\tMAST-JAGERMEISTER US, INC\t65259\tJAGERMEISTER LIQUEUR MINI MEISTERS\t12\t20\t4.93\t7.4\t1\t7.4\t0.02\t0.0\nINV-24519900032\t2020-01-13\t5726\tEHLINGER'S VINTON EXPRESS\t310 K AVENUE SOUTH\tVINTON\t52349.0\t6\tBENTON\t1082000.0\tIMPORTED CORDIALS & LIQUEURS\t192\tMAST-JAGERMEISTER US, INC\t65259\tJAGERMEISTER LIQUEUR MINI MEISTERS\t12\t20\t4.93\t7.4\t1\t7.4\t0.02\t0.0\nINV-13922700032\t2018-08-20\t3778\tFAMILY PANTRY\t4538 LOWER BEAVER RD\tDES MOINES\t50310\t77\tPOLK\t1082000.0\tIMPORTED CORDIALS & LIQUEURS\t192.0\tMAST-JAGERMEISTER US, INC\t65259\tJAGERMEISTER MINI MEISTERS\t12\t20\t4.93\t7.4\t1\t7.4\t0.02\t0.0\n*/",
  'stop': ['\nSQLResult:']})

In [21]:
bq_qna('give me the list of county for the city  "WAUKEE"')[0]

> Entering new  chain...
You are a BigQuery SQL expert. Given an input question, first create a syntactically correct BigQuery query to run, then look at the results of the query and return the answer to the input question.
  Unless the user specifies in the question a specific number of examples to obtain, query for at most 10000 results using the LIMIT clause as per BigQuery SQL. You can order the results to return the most informative data in the database.
  Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
  Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
  Use the following format:
  Question: "Question here"
  SQLQuery: "SQL Query to run"
  SQLResult: "Result of the SQLQuery"
  Answer: "Final answer here"
  Only use the following tables:
  LLMsales

  If someone asks for specific month, use ActivityDate between current month's start date and current month's end date

  Question: give me the list of county for the city  "WAUKEE"
SQLQuery:SELECT DISTINCT county FROM LLMsales WHERE city = "WAUKEE"
SQLResult: [(None,), ('DALLAS',)]
Answer:DALLAS
> Finished chain.

'DALLAS'

In [23]:
bq_qna('rank the top 10 Category name for each county based on the Sale_dollars')

> Entering new  chain...
You are a BigQuery SQL expert. Given an input question, first create a syntactically correct BigQuery query to run, then look at the results of the query and return the answer to the input question.
  Unless the user specifies in the question a specific number of examples to obtain, query for at most 10000 results using the LIMIT clause as per BigQuery SQL. You can order the results to return the most informative data in the database.
  Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
  Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
  Use the following format:
  Question: "Question here"
  SQLQuery: "SQL Query to run"
  SQLResult: "Result of the SQLQuery"
  Answer: "Final answer here"
  Only use the following tables:
  LLMsales

  If someone asks for specific month, use ActivityDate between current month's start date and current month's end date

  Question: rank the top 10 Category name for each county based on the Sale_dollars
SQLQuery:SELECT county, category_name, SUM(sale_dollars) AS total_sale_dollars FROM LLMsales GROUP BY county, category_name ORDER BY county, total_sale_dollars DESC LIMIT 10
SQLResult: [(None, 'CANADIAN WHISKIES', 2675324.109999999), (None, 'AMERICAN VODKAS', 1471435.3899999994), (None, 'SPICED RUM', 1331458.6899999992), (None, 'STRAIGHT BOURBON WHISKIES', 1104879.4300000006), (None, 'VODKA 80 PROOF', 1056114.7099999997), (None, 'IMPORTED VODKAS', 1033802.1900000003), (None, 'TENNESSEE WHISKIES', 1006738.7900000003), (None, 'WHISKEY LIQUEUR', 967931.8600000002), (None, 'IMPORTED BRANDIES', 630430.02), (None, 'TEQUILA', 561480.1800000003)]
Answer:Answer:
> Finished chain.

('Answer:',
 {'input': 'You are a BigQuery SQL expert. Given an input question, first create a syntactically correct BigQuery query to run, then look at the results of the query and return the answer to the input question.\n  Unless the user specifies in the question a specific number of examples to obtain, query for at most 10000 results using the LIMIT clause as per BigQuery SQL. You can order the results to return the most informative data in the database.\n  Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.\n  Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\n  Use the following format:\n  Question: "Question here"\n  SQLQuery: "SQL Query to run"\n  SQLResult: "Result of the SQLQuery"\n  Answer: "Final answer here"\n  Only use the following tables:\n  LLMsales\n\n  If someone asks for specific month, use ActivityDate between current month\'s start date and current month\'s end date\n\n  Question: rank the top 10 Category name for each county based on the Sale_dollars\nSQLQuery:SELECT county, category_name, SUM(sale_dollars) AS total_sale_dollars FROM LLMsales GROUP BY county, category_name ORDER BY county, total_sale_dollars DESC LIMIT 10\nSQLResult: [(None, \'CANADIAN WHISKIES\', 2675324.109999999), (None, \'AMERICAN VODKAS\', 1471435.3899999994), (None, \'SPICED RUM\', 1331458.6899999992), (None, \'STRAIGHT BOURBON WHISKIES\', 1104879.4300000006), (None, \'VODKA 80 PROOF\', 1056114.7099999997), (None, \'IMPORTED VODKAS\', 1033802.1900000003), (None, \'TENNESSEE WHISKIES\', 1006738.7900000003), (None, \'WHISKEY LIQUEUR\', 967931.8600000002), (None, \'IMPORTED BRANDIES\', 630430.02), (None, \'TEQUILA\', 561480.1800000003)]\nAnswer:',
  'top_k': '5',
  'dialect': 'bigquery',
  'table_info': "\nCREATE TABLE `LLMsales` (\n\t`invoice_and_item_number` STRING, \n\t`date` DATE, \n\t`store_number` STRING, \n\t`store_name` STRING, \n\t`address` STRING, \n\t`city` STRING, \n\t`zip_code` STRING, \n\t`county_number` STRING, \n\t`county` STRING, \n\t`category` STRING, \n\t`category_name` STRING, \n\t`vendor_number` STRING, \n\t`vendor_name` STRING, \n\t`item_number` STRING, \n\t`item_description` STRING, \n\t`pack` INT64, \n\t`bottle_volume_ml` INT64, \n\t`state_bottle_cost` FLOAT64, \n\t`state_bottle_retail` FLOAT64, \n\t`bottles_sold` INT64, \n\t`sale_dollars` FLOAT64, \n\t`volume_sold_liters` FLOAT64, \n\t`volume_sold_gallons` FLOAT64\n)\n\n/*\n3 rows from LLMsales table:\ninvoice_and_item_number\tdate\tstore_number\tstore_name\taddress\tcity\tzip_code\tcounty_number\tcounty\tcategory\tcategory_name\tvendor_number\tvendor_name\titem_number\titem_description\tpack\tbottle_volume_ml\tstate_bottle_cost\tstate_bottle_retail\tbottles_sold\tsale_dollars\tvolume_sold_liters\tvolume_sold_gallons\nINV-39002000009\t2021-08-06\t5723\tCASEY'S GENERAL STORE #2538-WAUKEE\t20 WEST HICKMAN ROAD\tWAUKEE\t50263.0\t25\tDALLAS\t1082100.0\tIMPORTED CORDIALS & LIQUEURS\t192\tMAST-JAGERMEISTER US, INC\t65259\tJAGERMEISTER LIQUEUR MINI MEISTERS\t12\t20\t4.93\t7.4\t1\t7.4\t0.02\t0.0\nINV-24519900032\t2020-01-13\t5726\tEHLINGER'S VINTON EXPRESS\t310 K AVENUE SOUTH\tVINTON\t52349.0\t6\tBENTON\t1082000.0\tIMPORTED CORDIALS & LIQUEURS\t192\tMAST-JAGERMEISTER US, INC\t65259\tJAGERMEISTER LIQUEUR MINI MEISTERS\t12\t20\t4.93\t7.4\t1\t7.4\t0.02\t0.0\nINV-13922700032\t2018-08-20\t3778\tFAMILY PANTRY\t4538 LOWER BEAVER RD\tDES MOINES\t50310\t77\tPOLK\t1082000.0\tIMPORTED CORDIALS & LIQUEURS\t192.0\tMAST-JAGERMEISTER US, INC\t65259\tJAGERMEISTER MINI MEISTERS\t12\t20\t4.93\t7.4\t1\t7.4\t0.02\t0.0\n*/",
  'stop': ['\nSQLResult:']})

#LETS Use the Vehicle tables that we used for our POC

In [ ]:
project_id = "iron-decorator-297513" # @param {type:"string"}
LOCATION = "us-central1"  # @param {type:"string"}
dataset_id = 'tg_Dataste' # @param {type:"string"}
table_name = ['Vehicle_ID_Table','Mileage','topSpeed'] # @param {type:"string"}

In [39]:
llm = VertexAI(
    model_name='text-bison@001',
    max_output_tokens=1024,
    temperature=0.1,
    top_p=0.8,
    top_k=40,
    verbose=True,
)



table_uri = f"bigquery://{project_id}/{dataset_id}"
engine = create_engine(f"bigquery://{project_id}/{dataset_id}")


def bq_qna(question):
  #create SQLDatabase instance from BQ engine
  db = SQLDatabase(engine=engine,metadata=MetaData(bind=engine),include_tables=table_name)
  # db = SQLDatabase(engine=engine,metadata=MetaData(bind=engine),include_tables=['bigquery-public-data.iowa_liquor_sales.sales'])

  #create SQL DB Chain with the initialized LLM and above SQLDB instance
  db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, return_intermediate_steps=True)


  _googlesql_prompt = """You are a BigQuery SQL expert. Given an input question, first create a syntactically correct BigQuery query to run, then look at the results of the query and return the answer to the input question.
  Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per BigQuery SQL. You can order the results to return the most informative data in the database.
  Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
  Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table. VEHICLE_ID is only available in Vehicle_ID_Table

I have a collection of tables containing vehicle data, and I need your help to extract specific information. Please carefully consider the following details:
  Relevant Tables :
  •	Vehicle_ID_Table: Contains vehicle ID (a unique numerical identifier), vehicle number (alphanumeric code), smoke emission (numerical value in grams/km), and temperature (numerical value in degrees Celsius).
  •	topSpeed: Contains vehicle number, capacitor (numerical value in Farads), cc (numerical value representing engine displacement), and top speed (numerical value in km/h).
  •	Mileage: Contains vehicle number, make (vehicle manufacturer name), type (vehicle model name), and mileage (numerical value in km/L).
  Key Point:
  •	Vehicle ID is only available in Vehicle_ID_Table. To retrieve it for a specific vehicle, use the vehicle number to look it up in this Table.
  Examples of SQL Queries:
  •	Find the vehicle ID with the highest top speed.
  •	What is the mileage of the vehicle with the lowest smoke emission?
  •	List the make and model of vehicles with a capacitor value of 50 Farads.
  •	Compare the average temperature of vehicles with a cc value above 2000 and those below 2000.
  Context:
  •	These Tables belong to a vehicle maintenance database.
  •	Smoke emission and temperature data are used for environmental compliance tracking.
  •	Capacitor values are relevant for electrical systems.
  •	Top speed and mileage are performance-related metrics.
  Please be ready to answer various questions about the vehicles based on this data, while accurately handling Vehicle ID retrieval and understanding
  the relationships between different columns and files.

  Use the following format:
  Question: "Question here"
  SQL : "Create the SQL query and check if the necessary column is available before executing it"
  SQLQuery: "SQL Query to run"
  SQLResult: "Result of the SQLQuery"
  Answer: "Final answer here"
  Only use the following tables:
  {table_info}

  If someone asks for specific month, use ActivityDate between current month's start date and current month's end date

  Question: {input}"""

  BigQuerySQL_PROMPT = PromptTemplate(
      input_variables=["input", "table_info", "top_k"],
      template=_googlesql_prompt,
  )

  #passing question to the prompt template
  final_prompt = BigQuerySQL_PROMPT.format(input=question, table_info=table_name, top_k=10000)

  #pass final prompt to SQL Chain
  output = db_chain(final_prompt)


  return output['result'], output['intermediate_steps'][0]

In [32]:
bq_qna("vehcile id with maximum temperature")

> Entering new  chain...
You are a BigQuery SQL expert. Given an input question, first create a syntactically correct BigQuery query to run, then look at the results of the query and return the answer to the input question.
  Unless the user specifies in the question a specific number of examples to obtain, query for at most 10000 results using the LIMIT clause as per BigQuery SQL. You can order the results to return the most informative data in the database.
  Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
  Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.

I have a collection of tables containing vehicle data, and I need your help to extract specific information. Please carefully consider the following details:
  Relevant Tables :
  •	Vehicle_ID_Table: Contains vehicle ID (a unique numerical identifier), vehicle number (alphanumeric code), smoke emission (numerical value in grams/km), and temperature (numerical value in degrees Celsius).
  •	topSpeed: Contains vehicle number, capacitor (numerical value in Farads), cc (numerical value representing engine displacement), and top speed (numerical value in km/h).
  •	Mileage: Contains vehicle number, make (vehicle manufacturer name), type (vehicle model name), and mileage (numerical value in km/L).
  Key Point:
  •	Vehicle ID is only available in Vehicle_ID_Table. To retrieve it for a specific vehicle, use the vehicle number to look it up in this Table.
  Examples of SQL Queries:
  •	Find the vehicle ID with the highest top speed.
  •	What is the mileage of the vehicle with the lowest smoke emission?
  •	List the make and model of vehicles with a capacitor value of 50 Farads.
  •	Compare the average temperature of vehicles with a cc value above 2000 and those below 2000.
  Context:
  •	These Tables belong to a vehicle maintenance database.
  •	Smoke emission and temperature data are used for environmental compliance tracking.
  •	Capacitor values are relevant for electrical systems.
  •	Top speed and mileage are performance-related metrics.
  Please be ready to answer various questions about the vehicles based on this data, while accurately handling Vehicle ID retrieval and understanding
  the relationships between different columns and files.

  Use the following format:
  Question: "Question here"
  SQL : "Create the SQL query and check if the necessary column is available before executing it"
  SQLQuery: "SQL Query to run"
  SQLResult: "Result of the SQLQuery"
  Answer: "Final answer here"
  Only use the following tables:
  ['Vehicle_ID_Table', 'Mileage', 'topSpeed']

  If someone asks for specific month, use ActivityDate between current month's start date and current month's end date

  Question: vehcile id with maximum temperature
SQLQuery:SELECT vehicle_id FROM Vehicle_ID_Table WHERE temperature = (SELECT MAX(temperature) FROM Vehicle_ID_Table)
SQLResult: [(16,)]
Answer:16
> Finished chain.

('16',
 {'input': 'You are a BigQuery SQL expert. Given an input question, first create a syntactically correct BigQuery query to run, then look at the results of the query and return the answer to the input question.\n  Unless the user specifies in the question a specific number of examples to obtain, query for at most 10000 results using the LIMIT clause as per BigQuery SQL. You can order the results to return the most informative data in the database.\n  Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.\n  Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\n\nI have a collection of tables containing vehicle data, and I need your help to extract specific information. Please carefully consider the following details:\n  Relevant Tables :\n  •\tVehicle_ID_Table: Contains vehicle ID (a unique numerical identifier), vehicle number (alphanumeric code), smoke emission (numerical value in grams/km), and temperature (numerical value in degrees Celsius).\n  •\ttopSpeed: Contains vehicle number, capacitor (numerical value in Farads), cc (numerical value representing engine displacement), and top speed (numerical value in km/h).\n  •\tMileage: Contains vehicle number, make (vehicle manufacturer name), type (vehicle model name), and mileage (numerical value in km/L).\n  Key Point:\n  •\tVehicle ID is only available in Vehicle_ID_Table. To retrieve it for a specific vehicle, use the vehicle number to look it up in this Table.\n  Examples of SQL Queries:\n  •\tFind the vehicle ID with the highest top speed.\n  •\tWhat is the mileage of the vehicle with the lowest smoke emission?\n  •\tList the make and model of vehicles with a capacitor value of 50 Farads.\n  •\tCompare the average temperature of vehicles with a cc value above 2000 and those below 2000.\n  Context:\n  •\tThese Tables belong to a vehicle maintenance database.\n  •\tSmoke emission and temperature data are used for environmental compliance tracking.\n  •\tCapacitor values are relevant for electrical systems.\n  •\tTop speed and mileage are performance-related metrics.\n  Please be ready to answer various questions about the vehicles based on this data, while accurately handling Vehicle ID retrieval and understanding\n  the relationships between different columns and files.\n\n  Use the following format:\n  Question: "Question here"\n  SQL : "Create the SQL query and check if the necessary column is available before executing it"\n  SQLQuery: "SQL Query to run"\n  SQLResult: "Result of the SQLQuery"\n  Answer: "Final answer here"\n  Only use the following tables:\n  [\'Vehicle_ID_Table\', \'Mileage\', \'topSpeed\']\n\n  If someone asks for specific month, use ActivityDate between current month\'s start date and current month\'s end date\n\n  Question: vehcile id with maximum temperature\nSQLQuery:SELECT vehicle_id FROM Vehicle_ID_Table WHERE temperature = (SELECT MAX(temperature) FROM Vehicle_ID_Table)\nSQLResult: [(16,)]\nAnswer:',
  'top_k': '5',
  'dialect': 'bigquery',
  'table_info': '\nCREATE TABLE `Mileage` (\n\t`vehicle_number` STRING, \n\t`make` STRING, \n\t`type` STRING, \n\t`mileage` INT64\n)\n\n/*\n3 rows from Mileage table:\nvehicle_number\tmake\ttype\tmileage\nNone\tNone\tNone\tNone\nNone\tNone\tNone\tNone\nNone\tNone\tNone\tNone\n*/\n\n\nCREATE TABLE `Vehicle_ID_Table` (\n\t`vehicle_id` INT64, \n\t`vehicle_number` STRING, \n\t`smoke_emission` FLOAT64, \n\t`temperature` INT64\n)\n\n/*\n3 rows from Vehicle_ID_Table table:\nvehicle_id\tvehicle_number\tsmoke_emission\ttemperature\n2\tDEF456\t0.5\t28\n11\tEFGH789\t0.5\t26\n20\t012JKL\t0.5\t32\n*/\n\n\nCREATE TABLE `topSpeed` (\n\t`vehicle_number` STRING, \n\t`capacitor` INT64, \n\t`cc` FLOAT64, \n\t`top_speed` INT64\n)\n\n/*\n3 rows from topSpeed table:\nvehicle_number\tcapacitor\tcc\ttop_speed\nYZ123\t1000\t1.0\t100\n123A\t1300\t1.0\t100\n567YZ1\t1400\t1.1\t105\n*/',
  'stop': ['\nSQLResult:']})

In [34]:
bq_qna("vehicle number with maximum topspeed. Also find the corresponding vehicle id ")

> Entering new  chain...
You are a BigQuery SQL expert. Given an input question, first create a syntactically correct BigQuery query to run, then look at the results of the query and return the answer to the input question.
  Unless the user specifies in the question a specific number of examples to obtain, query for at most 10000 results using the LIMIT clause as per BigQuery SQL. You can order the results to return the most informative data in the database.
  Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
  Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.

I have a collection of tables containing vehicle data, and I need your help to extract specific information. Please carefully consider the following details:
  Relevant Tables :
  •	Vehicle_ID_Table: Contains vehicle ID (a unique numerical identifier), vehicle number (alphanumeric code), smoke emission (numerical value in grams/km), and temperature (numerical value in degrees Celsius).
  •	topSpeed: Contains vehicle number, capacitor (numerical value in Farads), cc (numerical value representing engine displacement), and top speed (numerical value in km/h).
  •	Mileage: Contains vehicle number, make (vehicle manufacturer name), type (vehicle model name), and mileage (numerical value in km/L).
  Key Point:
  •	Vehicle ID is only available in Vehicle_ID_Table. To retrieve it for a specific vehicle, use the vehicle number to look it up in this Table.
  Examples of SQL Queries:
  •	Find the vehicle ID with the highest top speed.
  •	What is the mileage of the vehicle with the lowest smoke emission?
  •	List the make and model of vehicles with a capacitor value of 50 Farads.
  •	Compare the average temperature of vehicles with a cc value above 2000 and those below 2000.
  Context:
  •	These Tables belong to a vehicle maintenance database.
  •	Smoke emission and temperature data are used for environmental compliance tracking.
  •	Capacitor values are relevant for electrical systems.
  •	Top speed and mileage are performance-related metrics.
  Please be ready to answer various questions about the vehicles based on this data, while accurately handling Vehicle ID retrieval and understanding
  the relationships between different columns and files.

  Use the following format:
  Question: "Question here"
  SQL : "Create the SQL query and check if the necessary column is available before executing it"
  SQLQuery: "SQL Query to run"
  SQLResult: "Result of the SQLQuery"
  Answer: "Final answer here"
  Only use the following tables:
  ['Vehicle_ID_Table', 'Mileage', 'topSpeed']

  If someone asks for specific month, use ActivityDate between current month's start date and current month's end date

  Question: vehicle number with maximum topspeed. Also find the corresponding vehicle id
SQLQuery:SELECT t1.vehicle_number, t2.vehicle_id FROM topSpeed AS t1 JOIN Vehicle_ID_Table AS t2 ON t1.vehicle_number = t2.vehicle_number ORDER BY t1.top_speed DESC LIMIT 1
SQLResult: [('WXYZ234', 16)]
Answer:WXYZ234, 16
> Finished chain.

('WXYZ234, 16',
 {'input': 'You are a BigQuery SQL expert. Given an input question, first create a syntactically correct BigQuery query to run, then look at the results of the query and return the answer to the input question.\n  Unless the user specifies in the question a specific number of examples to obtain, query for at most 10000 results using the LIMIT clause as per BigQuery SQL. You can order the results to return the most informative data in the database.\n  Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.\n  Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\n\nI have a collection of tables containing vehicle data, and I need your help to extract specific information. Please carefully consider the following details:\n  Relevant Tables :\n  •\tVehicle_ID_Table: Contains vehicle ID (a unique numerical identifier), vehicle number (alphanumeric code), smoke emission (numerical value in grams/km), and temperature (numerical value in degrees Celsius).\n  •\ttopSpeed: Contains vehicle number, capacitor (numerical value in Farads), cc (numerical value representing engine displacement), and top speed (numerical value in km/h).\n  •\tMileage: Contains vehicle number, make (vehicle manufacturer name), type (vehicle model name), and mileage (numerical value in km/L).\n  Key Point:\n  •\tVehicle ID is only available in Vehicle_ID_Table. To retrieve it for a specific vehicle, use the vehicle number to look it up in this Table.\n  Examples of SQL Queries:\n  •\tFind the vehicle ID with the highest top speed.\n  •\tWhat is the mileage of the vehicle with the lowest smoke emission?\n  •\tList the make and model of vehicles with a capacitor value of 50 Farads.\n  •\tCompare the average temperature of vehicles with a cc value above 2000 and those below 2000.\n  Context:\n  •\tThese Tables belong to a vehicle maintenance database.\n  •\tSmoke emission and temperature data are used for environmental compliance tracking.\n  •\tCapacitor values are relevant for electrical systems.\n  •\tTop speed and mileage are performance-related metrics.\n  Please be ready to answer various questions about the vehicles based on this data, while accurately handling Vehicle ID retrieval and understanding\n  the relationships between different columns and files.\n\n  Use the following format:\n  Question: "Question here"\n  SQL : "Create the SQL query and check if the necessary column is available before executing it"\n  SQLQuery: "SQL Query to run"\n  SQLResult: "Result of the SQLQuery"\n  Answer: "Final answer here"\n  Only use the following tables:\n  [\'Vehicle_ID_Table\', \'Mileage\', \'topSpeed\']\n\n  If someone asks for specific month, use ActivityDate between current month\'s start date and current month\'s end date\n\n  Question: vehicle number with maximum topspeed. Also find the corresponding vehicle id \nSQLQuery:SELECT t1.vehicle_number, t2.vehicle_id FROM topSpeed AS t1 JOIN Vehicle_ID_Table AS t2 ON t1.vehicle_number = t2.vehicle_number ORDER BY t1.top_speed DESC LIMIT 1\nSQLResult: [(\'WXYZ234\', 16)]\nAnswer:',
  'top_k': '5',
  'dialect': 'bigquery',
  'table_info': '\nCREATE TABLE `Mileage` (\n\t`vehicle_number` STRING, \n\t`make` STRING, \n\t`type` STRING, \n\t`mileage` INT64\n)\n\n/*\n3 rows from Mileage table:\nvehicle_number\tmake\ttype\tmileage\nNone\tNone\tNone\tNone\nNone\tNone\tNone\tNone\nNone\tNone\tNone\tNone\n*/\n\n\nCREATE TABLE `Vehicle_ID_Table` (\n\t`vehicle_id` INT64, \n\t`vehicle_number` STRING, \n\t`smoke_emission` FLOAT64, \n\t`temperature` INT64\n)\n\n/*\n3 rows from Vehicle_ID_Table table:\nvehicle_id\tvehicle_number\tsmoke_emission\ttemperature\n2\tDEF456\t0.5\t28\n11\tEFGH789\t0.5\t26\n20\t012JKL\t0.5\t32\n*/\n\n\nCREATE TABLE `topSpeed` (\n\t`vehicle_number` STRING, \n\t`capacitor` INT64, \n\t`cc` FLOAT64, \n\t`top_speed` INT64\n)\n\n/*\n3 rows from topSpeed table:\nvehicle_number\tcapacitor\tcc\ttop_speed\nYZ123\t1000\t1.0\t100\n123A\t1300\t1.0\t100\n567YZ1\t1400\t1.1\t105\n*/',
  'stop': ['\nSQLResult:']})

In [41]:
bq_qna("Vehicle number with the Maximum Mileage, Find the corresponding vehicle id from the Vehicle_ID_Table ")

> Entering new  chain...
You are a BigQuery SQL expert. Given an input question, first create a syntactically correct BigQuery query to run, then look at the results of the query and return the answer to the input question.
  Unless the user specifies in the question a specific number of examples to obtain, query for at most 10000 results using the LIMIT clause as per BigQuery SQL. You can order the results to return the most informative data in the database.
  Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
  Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table. VEHICLE_ID is only available in Vehicle_ID_Table

I have a collection of tables containing vehicle data, and I need your help to extract specific information. Please carefully consider the following details:
  Relevant Tables :
  •	Vehicle_ID_Table: Contains vehicle ID (a unique numerical identifier), vehicle number (alphanumeric code), smoke emission (numerical value in grams/km), and temperature (numerical value in degrees Celsius).
  •	topSpeed: Contains vehicle number, capacitor (numerical value in Farads), cc (numerical value representing engine displacement), and top speed (numerical value in km/h).
  •	Mileage: Contains vehicle number, make (vehicle manufacturer name), type (vehicle model name), and mileage (numerical value in km/L).
  Key Point:
  •	Vehicle ID is only available in Vehicle_ID_Table. To retrieve it for a specific vehicle, use the vehicle number to look it up in this Table.
  Examples of SQL Queries:
  •	Find the vehicle ID with the highest top speed.
  •	What is the mileage of the vehicle with the lowest smoke emission?
  •	List the make and model of vehicles with a capacitor value of 50 Farads.
  •	Compare the average temperature of vehicles with a cc value above 2000 and those below 2000.
  Context:
  •	These Tables belong to a vehicle maintenance database.
  •	Smoke emission and temperature data are used for environmental compliance tracking.
  •	Capacitor values are relevant for electrical systems.
  •	Top speed and mileage are performance-related metrics.
  Please be ready to answer various questions about the vehicles based on this data, while accurately handling Vehicle ID retrieval and understanding
  the relationships between different columns and files.

  Use the following format:
  Question: "Question here"
  SQL : "Create the SQL query and check if the necessary column is available before executing it"
  SQLQuery: "SQL Query to run"
  SQLResult: "Result of the SQLQuery"
  Answer: "Final answer here"
  Only use the following tables:
  ['Vehicle_ID_Table', 'Mileage', 'topSpeed']

  If someone asks for specific month, use ActivityDate between current month's start date and current month's end date

  Question: Vehicle number with the Maximum Mileage, Find the corresponding vehicle id from the Vehicle_ID_Table
SQLQuery:SELECT vehicle_number, vehicle_id FROM Mileage ORDER BY mileage DESC LIMIT 1

DatabaseError: ignored